<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
        <!-- właczenie w JSF konwersji pustych napisów wysyłanych z formularza jako wartości null -->
        <context-param>
                <param-name>jakarta.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
                <param-value>true</param-value>
        </context-param>
        <!-- wybór motywu css dla biblioteki Primefaces -->
        <context-param>
                <param-name>primefaces.THEME</param-name>
                <param-value>nova-light</param-value>
        </context-param>
        <!-- serwlet frameworka JSF, który będzie obsługiwać żądania do stron JSF aplikacji -->
        <servlet>

                <servlet-name>facesServlet</servlet-name>
                <servlet-class>jakarta.faces.webapp.FacesServlet</servlet-class>
        </servlet>
        <!-- przypisanie serwletu framework żądań zasobów *.xhtml -->
        <servlet-mapping>
                <servlet-name>facesServlet</servlet-name>
                <url-pattern>*.xhtml</url-pattern>
        </servlet-mapping>

        <welcome-file-list>
                <welcome-file>user/index.xhtml</welcome-file>
        </welcome-file-list>

        <security-constraint>
                <web-resource-collection>
                        <web-resource-name>Tematy</web-resource-name>
                        <url-pattern>/user/*</url-pattern>
                </web-resource-collection>
                <auth-constraint>
                        <role-name>0</role-name>
                        <role-name>1</role-name>
                        <role-name>2</role-name>
                </auth-constraint>
        </security-constraint>

        <security-constraint>
                <web-resource-collection>
                        <web-resource-name>Tematy</web-resource-name>
                        <url-pattern>/mod/*</url-pattern>
                </web-resource-collection>
                <auth-constraint>
                        <role-name>1</role-name>
                        <role-name>2</role-name>
                </auth-constraint>
        </security-constraint>

        <security-constraint>
                <web-resource-collection>
                        <web-resource-name>Tematy</web-resource-name>
                        <url-pattern>/admin/*</url-pattern>
                </web-resource-collection>
                <auth-constraint>
                        <role-name>2</role-name>
                </auth-constraint>
        </security-constraint>


        <security-role> <!-- 0 - user           1 - mod                 2 - admin -->
                <role-name>0</role-name>
        </security-role>

        <security-role>
                <role-name>1</role-name>
        </security-role>

        <security-role>
                <role-name>2</role-name>
        </security-role>
</web-app>